{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 52px;
  font-family: "Courier New", monospace;
  background-color: darkgrey;
}

h1 {
  font-weight: 300;
  font-size: 65px;
  margin-bottom: 11px;
  color: lightpink;
}

img {
  border-radius: 7%;
}

li {
  color: #b642a7;
}

strong {
  font-weight: normal;
  color: red;
}
